<!--<div style="padding: 10%;">
  <h1>Datos personales</h1>
  <h2>{{nombre}}</h2>
  <h2>{{edad}}</h2>
  <h2>{{casado}}</h2>
  <h2>{{ocupacion}}</h2>
  <h2>{{propiedades}}</h2>
  <ol *ngFor="let item of amigos">
    <li>Mi amigo es: {{item.nombre}} y su edad es {{item.edad}}</li>
  </ol>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
</div>-->

<app-header></app-header>
<app-buscador></app-buscador>
<app-categorias></app-categorias>
<app-main-result></app-main-result>
<app-footer></app-footer>