/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 
